/*light grey #f9f9f9
dark grey #333734
emerald #4b816d
jade #6aa991*/

/* universals and @rules */

* {
  box-sizing:border-box;
}
@font-face {
    font-family: 'moonlight';
    src: url('moon-light.woff2') format('woff2'),
         url('moon-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  src: /*url('/Users/jadeabbott-brenner/program/portfolio-pages/fonts/Moon-Light.ttf') format('truetype'),*/
  url('../fonts/moon_light.woff') format('woff'),
  url('../fonts/Moon/Moon-Light.otf') format('opentype');
  font-family: 'Moon-Light';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url('/Users/jadeabbott-brenner/program/portfolio-pages/fonts/Moon-Bold.ttf') format('truetype'),
  url('../fonts/Moon/Moon-Bold.otf') format('opentype');
  font-family: "Moon-Bold";
}
@font-face {
    font-family: 'mermaidbold';
    src: url('../mermaid1001-webfont.woff') format('woff2'),
         url('../mermaid1001-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
  src:url('../fonts/Mermaid.ttf');
  font-family:"Mermaid";
}
/* colors */
a, .button, .copyright, #hon .button, .link-list i, .nav-links {
  color:#F9F9F9;
}

.by-line, .headline, .sub-head {
  color:#333734;
}

/*#abt, #hon{
  background:#ffffff;
}*/
#abt a, #abt h2, #hon a, #hon h2 {
  color: #333734;
}
h2, h4, #hon h3, .shortcut {
  color:#4B816D;
}

.honeycomb, .solution, .sandwf, .hifi{
  background-color:	#F9F9F9;
  box-shadow:9px 9px 16px #B7B8B7, -9px -9px 16px #ffffff;

}
nav a:link, nav a:visited{
  color:#333734;
}
nav a:active {
  color:#9D677A;
}
nav a:hover{
  color:#4B816D;
}
/*typography*/
a, h1, h2, h4, .nav-links {
  font-family:"Moon-Light", "Moon", "moonlight", sans-serif;
}

#abt h2, .by-line, .e-link, h3, li, p{
  font-family:"IBM Plex Serif", Georgia, serif;
}

.button, .copyright, #hon h3, .re-link {
  font-family: "Moon-Bold", "moonlight";
  font-weight:600;
}

.dm-sans {
  font-family:"DM Sans"
}
.mermaid {
  font-family:"Mermaid", "mermaidbold", serif;
}

li, p {
  line-height: 145%;
}
hr {
  display:none;
}
/*spacing and structure*/

a {
  font-size:1.4rem;
  text-decoration:none;
}
#abt h2{
  font-size: 2rem;
  font-weight:600;
  margin-bottom:3.6rem;
}
#abt h1{
  font-size:2.8rem;
  margin:2.5rem 0;
}
#abt h3{
  margin:2.4rem 0 1rem 0;
}
#abt h4 {
  margin:6.4rem 0 2rem 0;
}
#abt .re-link {
  margin: 5rem 3rem 5rem 0;
}
.about-text{
  margin:5rem 0 10rem 0;
}
.about-text > p{
  line-height:145%;
}
.about{
  margin:auto;
  width:80%;
}
.brand img {
  padding:2rem 1.6rem;
}
.brand-intro, .prob, .solution p, .results li, .discovery p, .ia li, .user-testing-inner, .insightful-txt p, .comp-an p, .userflow p{
  margin:3rem auto;
  max-width:51rem;
  text-align:center;
  width:90%;
}
.hifi img{
  padding:2rem 1.6rem;
}
.sandwf img{
  padding:2rem 1.6rem;
}
.badges{
  align-items:center;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  margin:auto;
  max-width:50%;
  padding-top:5rem;
}
.icon, .pin {
  display:inline-block;
  vertical-align:middle;
}
.badges img {
  margin:1rem 2rem;
}
.button{
  background-color:#4B816D;
  box-shadow:0px 4px 4px #B7B8B7;
  font-size:1.4rem;
  padding: 1.7rem 5rem;
  width:265px;
}
.by-line {
  font-size: 1.8rem;
  font-weight:500;
  line-height:2.1rem;
  margin-bottom:3rem;
  padding-bottom: 1rem;
  padding-right:2rem;
}
.container{
  height:100vh;
  margin:auto;
  width:100%;
  background-color:#F9F9F9;
  }

.copyright{
  font-size:1.2rem;
  margin:auto;
  padding-bottom: 1.5rem;
  width:75%;
}
.copyright, footer, #hon, .honeycomb, .overview ul, ul.link-list, .work-preview {
  text-align:center;
}
.solution img {
  margin: 2rem auto;
}
.discovery li, .ia li {
  list-style:disc;
}
.discovery > .icon{
  margin-bottom:3rem;
  width:45%;
}
.discovery > .pin{
  width:25%;
  margin: 2rem 2.5rem 2rem 2rem;
}
.discovery > .per{
  width:45%;
}
p.dm-sans{
  padding-bottom:2rem;
}
.e-link {
  font-size:1.8rem;
  font-weight:600;
}
.end-links {
  padding:7.5rem 1.6rem;
  margin:auto;
  display:flex;
  align-items: center;
  justify-content:space-around;
  flex-direction:column;
}
.end-links a {
  margin-bottom: 2rem;
}
figcaption{
  font-size:1.4rem;
}

figure{
  margin:3.6rem 1.6rem;
  padding:0.8rem;
}
figure img {
  margin:0.8rem 1.2rem;
}
.flwr{
  height:9.443rem;
  width:9.024rem;
  margin:3rem;
}
footer {
    background-color: #333734;
    padding:2rem;
    width:100%;
}
h1{
  font-size:4rem;
  text-align:left;
  display:inline-block;
}
h2{
  font-size: 3rem;
}

h3{
  font-size:2rem;
  font-weight:500;
}
h4{
  font-size:1.8rem;
}

.headline {
  font-size:2.4rem;
  line-height: 2.8rem;
  padding-top: 3rem;
  padding-bottom: 0.5rem;
}
.headline, .sub-head, .by-line{
  margin-left:3rem;
}

#hon .button {
  padding:1.6rem;
}

#hon h1{
  margin:2.5rem 0;
}

#hon h2{
  font-size: 2.8rem;
  margin:7.5rem 0 4.2rem 0;
}

#hon h3{
  margin:3rem 0 2rem 0;
  font-size: 2rem;
}
#hon h4 {
  margin-top:2.4rem;
  margin-bottom:2rem;
  font-size:1.8rem;
}

.honeycomb{
  background-color:#f9f9f9;
  border-radius:35px;
  display:inline-block;
  margin: 0 auto;
  height:45rem;
  width:30rem;
  max-width:99%;
}
.honeycomb:hover{
  box-shadow:5px 5px 10px #71ad96, -5px -5px 10px #ffffff;
}
html{
  background-color:#F9F9F9;
  font-size:10px;
  height:100vh;
}

i {
  padding:1rem;
}

img.clr {
  margin:1.2rem 0;
  padding:0 7.5rem;
}

.insights a {
  display:inline-block;
  margin:3.6rem 0 2.4rem 0;
}

.jade{
  width:50%;
  margin:2.5rem 20rem 3.6rem 0;
  float:left;
  clear:right;
}

.link-list li {
  display:inline;
  margin: 0 0.25rem;
}
.proj-main-wrapper ul{
  font-size:1.6rem;
  margin:0 1.6rem;
}
nav {
  box-shadow: 0px 4px 30px #AB8A8D;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
}
.nav-links{
  clear:right;
  float:right;
  text-align:center;
  padding:3rem 1rem 3rem 4rem;
}
.nav-links a {
  padding:0.5rem;
}
.overview, .brand, .ia {
  margin: 2rem 0;
}
p{
  font-weight: 300;
  font-size:1.6rem;
  line-height:1.45;
  margin:1.6rem 0;
}

.per {
  padding:5.2rem;
}
.proj-hero, .hero-desc,{
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content:space-around;
}
.proj-hero img {
  margin: 2rem 0;
  padding:2rem 3.2rem 0 3.2rem;
}
.proj-hero p {
  padding:0 2.4rem 2.4rem 2.4rem;
  margin-bottom: 1.5rem;
  vertical-align:middle;
  display:inline-block;
}
.proj-hero img, .changes img, .overview img, .ia img, .brand img, .hifi img, .insights img {
  width:80%;
}
.proj-hero, .solution, .sandwf, .hifi {
  background-size:cover;
  margin-bottom:5rem;
  padding:3rem 0;
  width:100%;
}
.re-link {
  background-color: #FFF;
  border: 3px solid #AD9E7A;
  color: #333734;
  font-size:1.4rem;
  font-weight:600;
  padding: 1.7rem 5rem;
  margin: 5rem 3rem;;
  width: 265px;
}
a.button:hover, a.re-link:hover {
    box-shadow: 4px 4px 10px #B7B8B7;
}
.results li, .ia li {
  padding: 0.5rem 0;
  text-align:left;
}
section.honeycomb p {
  font-size:1.6rem;
  line-height:150%;
  margin:0 1.6rem 4rem 1.6rem;
  padding: 1.6rem;
}
.solution{
  margin: 6rem 0;
  padding:3rem 0;
}
.solution p, .insightful-txt p, .key-takeaways p {
  text-align:left;
  margin-bottom: 2rem;
}
.sm-list {
  color:#333734;
  display:inline-flex;
  margin:0 5rem 3.6rem 0;
}
.sub-head{
  padding-bottom: 3rem;
  font-size:2rem;
}
.lg-logo, .lg-hon {
  display:none;
}
.top-logo {
  margin:1.6rem;
  max-width:80px;
}
.homelink {
  width:25%;
  text-align:left;
}
ul {
  text-align:left;
}
.user-stories li {
  padding:0.5rem 1.6rem;
}
.user-testing {
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:flex-start;
}
.work-preview{
  margin:5rem 3.75rem;
}
/*@media rules */

@media screen and (min-width: 476px){
  .about {
    margin:5rem auto;
  }
  .about-text {
    margin-bottom:10rem;
  }
  .abt-hero, .clr-pal-inner, .desc-txt, figure, .hero-desc, .proj-hero, .sol-desc, .typefaces, .user-testing-inner{
    display:flex;
    flex-direction:column;
  }
  .abt-hero, .desc-txt, .sol-desc, .user-testing-inner {
    align-items:flex-start;
  }
  .sol-desc, .desc-txt, figure, .proj-hero, .hero-desc, .user-testing-inner {
    justify-content:space-around;
  }
  .abt-hero, .clr-pal-inner, .typefaces{
    justify-content: center;
    text-align:center;
    }
  .abt-hero p{
    font-size:1.2rem;
    font-weight:400;
    text-align:left;
  }
  .abt-hero p{
    width:70%;
  }
  #abt .re-link{
    margin:2rem 0 2rem 0;
    width:auto;
  }
  .badges{
    flex-direction:row;
  }
  .by-line{
    padding:0 10rem 2rem 0;
    margin-bottom:4rem;
    font-size:1.6rem;
  }
  .clr-pal-inner p, .typefaces p {
    align-self:center;
  }

  .desc-txt, .desc-txt h4, figcaption, .hero-desc, #hon li, .proj-hero, .sol-desc,  {
    margin:auto;
  }
   .hero-desc, .proj-hero{
    align-items: center;
  }
  .desc-txt h4 {
    display:inline-block;
    align-self:flex-start;
  }
  #abt footer {
    margin-top:10rem;
  }
  figure{
    flex-direction:column;
  }
  figcaption{
    align-self:center;
    margin-top: 1rem;
    width:50%;
  }
  .headline{
    padding:3rem 0;
    font-size:3.2rem;
  }
  .hero {
    padding:2rem 0;
    margin:5rem 0;;
    position:inherit;
  }
  p, #hon li {
    line-height:150%;
    max-width:51rem;
  }

  .insights a{
    margin:2.4rem auto;
  }
  .honeycomb {
    height:40rem;
    width:50rem;
  }
  hr {
     display:block;
     color:#E5E5E5;
     border-top: 1px #E5E5E5 solid;
     width:75%;
     text-align: center;
     margin:10rem auto;
  }
  .insights a {
    display:block;
  }
  .jade {
    margin:2.5rem 40rem 0.9rem 0;
  }
  .lg-hon{
    display:none;
  }

  section.honeycomb p {
    padding:1.6rem 1rem;
  }
  .sub-head{
    font-size:2.4rem;
  }
  .user-testing-inner{
    text-align:left;
  }
  .user-testing-inner p {
    align-self:flex-start;
  }
  .work-preview{
    margin:10rem 3.75rem;
  }
}


@media screen and (min-width:769px){

  /* navigation */

    nav {
      height:10rem;
    }
    .nav-links {
      padding-top:5rem;
    }
    .nav-links a{
      font-size:2.3rem;
      margin-right:2rem;
    }
    .top-logo{
      width:100%;
      padding:1rem;
      margin-left:16px;
    }
    /* footer styles*/

    .copyright{
      display:inline-block;
      line-height:1rem;
      margin:0;
      order:1;
      padding-top:1.5rem;
      text-align:left;
    }
    footer {
      display:flex;
      flex-direction:row;
      justify-content: space-between;
      align-items:center;
    }

      ul.link-list{
        display:inline-block;
        order:2;
        text-align:right;
      }

      /*about page */
      .about {
        padding-top:12.5rem;
      }
      #abt h1 {
        margin-bottom:4rem;
      }

      .about-text {
        max-width:42%;
        display:flex;
        justify-content:flex-start;
        flex-direction:column;
        align-items:flex-start;
      }
      .abt-hero{
        align-items: center;
        float:right;
        width:35%;
      }
      .abt-hero p {
        max-width: 80%;
      }
      .jade {
        width:95%;
        margin:auto;
      }
/*homepage*/
 .by-line{
    font-size:2.3rem;
    line-height: 135%;
    padding-right:29rem;
    max-width: 85rem;
  }
  .desc {
    width:49%;
    display:inline;
    text-align:left;
    margin:auto;
  }
  .headline{
    font-size:4.8rem;
    padding-bottom:1rem;
    line-height:120%;
  }
  .hero{
    background:url("../images/PNG/july-hero.png") no-repeat right center;
    padding:10rem 0 50rem 0;
    margin:5rem auto;
    max-width:1440px;
  }
  .sub-head{
    padding-bottom: 3rem;
    font-size:3rem;
  }

  .work-preview{
    display:block;
    margin: 10rem auto;
    max-width:110rem;
    width:100%;
  }
  /* project */
  .brand-elements, .changes, .clr-pal-inner, .hero-desc, .honeycomb, .personas, .proj-hero, .sol-desc, .solution-inner, .typefaces, .userflow {
    display:flex;
    justify-content: space-around
  }
  .honeycomb, .proj-hero, .solution-inner,  .userflow,.brand-elements. .changes, .personas {
    flex-direction: row;
  }
  .honeycomb, .proj-hero, .solution-inner,  .userflow,  {
    align-items:center;
 }
  .brand-elements. .changes, .personas {
    align-items: flex-start;
  }
  .badges img {
    width:25%;
  }
  .badges >.pin{
    width:10%;
  }
  .brand-elements, .changes {
    margin: 4rem 0;
  }
  .clr-pal p{
    text-align:left;
    margin:0;
  }
  .clr-pal-inner, .hero-desc, .typefaces {
    flex-direction:column;
  }
  .clr-pal-inner, .typefaces{
    width:50%;
  }
  .clr-pal-inner {
    align-items:flex-start;
    margin-left:7.2rem;
  }
  .clr-pal img {
    padding:0;
  }

  .desc-txt{
    text-align:left;
    min-width:70%;
  }
  .desc-txt h4, #hon li, #hon .button, .hero-desc > img, .hero-desc p, .lg-hon, .sol-desc > img, .user-testing{
    margin:auto;
  }

  .discovery p, .ia p, .brand p, .insights p, .prob p, .user-testing{
    max-width:51rem;
    margin:3rem auto;
    padding-bottom:1rem;
  }
  .discovery > .per {
    width:30%;
  }
  .end-links a {
    margin-top: 4rem;
  }
  .flwr{
    display: none;
  }
  #hon li {
    max-width:51rem;
    margin-bottom:1.6rem;
  }
  #hon .button{
    padding: 1.6rem 3rem;
    width: 350px;
  }
  .honeycomb {
    width:95%;
    height:30rem;
  }

  .hero-desc > img, .hero-desc p {
    padding:1.2rem;
  }
  .hero-desc {
    width:50%;
  }
  .hero-desc, .insightful-txt {
    margin-bottom:5rem;
  }

  .insightful-txt p {
    margin-bottom:2rem;
  }

  .insights{
    margin-bottom:10rem;
  }

  .lg-hon {
    width:40%;
    display:inline-block;
    vertical-align:middle;
  }

  .marissa, .colby{
    width:45%;
    margin-bottom:7.5rem;
  }
  .overview img, .discovery img, .ia img, .brand img, .insights img {
     max-width:80%;
   }

   .proj-hero, .solution, .sandwf, .hifi {
     padding: 10rem 0;
   }
  .proj-hero p{
    padding-bottom:4.2rem;
  }
  section.honeycomb p{
    padding:1.6rem 0;
    margin:0 1.6rem 3rem 0;
  }
  .sol-desc {
    display:flex;
    text-align:center;
  }
  .sol-desc >img {
    vertical-align:middle;
  }
  .typefaces {
    align-items: center;
  }
  .typefaces p {
    max-width: 51rem;
  }
  .userflow p {
    max-width:45%;
    text-align: left;
  }
  .userflow {
    margin-left:8rem;
  }
  }
