/*light grey #f9f9f9
dark grey #333734
emerald #4b816d
jade #6aa991*/

/* universals and @rules */

* {
  box-sizing:border-box;
}
@font-face {
    font-family: 'moonlight';
    src: url('moon-light.woff2') format('woff2'),
         url('moon-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  src: url(/Users/jadeabbott-brenner/program/portfolio-pages/fonts/Moon-Light.ttf) format("truetype"),
  url(fonts/moon_light.woff) format('woff');
  font-family: "Moon-Light";
}

@font-face {
  src: url(/Users/jadeabbott-brenner/program/portfolio-pages/fonts/Moon-Bold.ttf);
  font-family: "Moon-Bold";
}

@font-face{
  src:url(fonts/Mermaid.ttf);
  font-family:"Mermaid";
}
/* colors */
a, .button, .by-line, .copyright, .headline, #hon .button, .link-list i, .nav-links {
  color:#F9F9F9;
}

#abt, #hon{
  background:#ffffff;
}
#abt a, #abt h2, #hon a, #hon h2 {
  color: #333734;
}
h2, h4, #hon h3, #hon .re-link, #abt .re-link, .shortcut {
  color:#4B816D;
}

.honeycomb, .proj-hero, .solution, .sandwf, .hifi{
  background-color:	#F9F9F9;
  box-shadow:0px 4px 2px #CECFCE;
}

a:link {
  color:#F9F9F9;
}
a:visited{
  color:#F9F9F9;
}
a:hover{
  color:#4B816D;
}
#abt a:link, #abt a:visited{
  color:#333734;
}
#abt a:hover, #abt a:active{
  color:#4B816D;
}
#abt .re-link:link, #abt .re-link:visited, #abt .re-link:active{
  color:#4B816D;
}
#abt .re-link:hover{
  color:#71AD96;
}

#hon nav a:link, #hon nav a:visited{
  color:#333734;
}
#hon nav a:hover, #hon nav a:active{
  color:#4B816D;
}

/*typography*/
a, h1, h2, h4, .nav-links {
  font-family:"Moon-Light", "Moon";
}

#abt h2, .by-line, .e-link, h3, li, p, .re-link {
  font-family:"IBM Plex Serif", Georgia, serif;
}

.button, .copyright, #hon h3 {
  font-family: "Moon-Bold", "Moon";
  font-weight:600;
}

.dm-sans {
  font-family:"DM Sans"
}
.mermaid {
  font-family:"Mermaid";
}

li, p {
  line-height: 145%;
}

/*margins and padding */

a {
  font-size:1.4rem;
  text-decoration:none;
}

#abt h2{
  font-size: 2rem;
  font-weight:600;
  margin-bottom:3.6rem;
}

#abt h1{
  font-size:2.8rem;
  margin:2.5rem 0;
}

#abt h3{
  margin:2.4rem 0 1rem 0;
}

#abt h4 {
  margin:6.4rem 0 2rem 0;
}

#abt .re-link{
  display:inline-block;
  width:75%;
  font-size:2rem;
  margin-bottom:3.6rem;
}

.about-text{
  margin-bottom:10rem;
}
.about-text > p{
  line-height:145%;
}

.brand img {
  padding:2rem 1.6rem;
}

.hifi img{
  padding:2rem 1.6rem;
}

.sandwf img{
  padding:2rem 1.6rem;
}
.button{
  background-color:#4B816D;
  box-shadow:0px 2px 2px #CECFCE;
  font-size:1.6rem;
  height:50px;
  padding: 1.7rem 5rem;
  width:265px;
}

.by-line {
  font-size: 1.8rem;
  font-weight:500;
  line-height:2.1rem;
  padding-bottom: 1rem;
  padding-right:2rem;
}

.container{
  /*height:100vh;*/
  margin:auto;
  width:100%;
  background-image: linear-gradient(#333734,#3C403D, #F9F9F9 90%);
  }

.copyright{
  font-size:1.2rem;
  margin:auto;
  padding-bottom: 1.5rem;
  text-align:center;
  width:75%;
}
.discovery > .icon{
  margin-bottom:3rem;
  width:45%;
}
.discovery > .pin{
  width:25%;
  margin: 2rem 2.5rem 2rem 2rem;
}
.discovery > .per{
  width:45%;
}

.e-link {
  font-size:1.8rem;
  font-weight:600;
}

figcaption{
  font-size:1.4rem;
}

figure{
  margin:3.6rem 1.6rem;
  padding:0.8rem;
}
figure img {
  margin:0.8rem 1.2rem;
}

.flwr{
  height:9.443rem;
  width:9.024rem;
  margin:3rem;
}

footer {
    text-align:center;
    background-color: #333734;
    padding:0 2rem;
    width:100%;
}

h1{
  font-size:4rem;
  text-align:left;
  display:inline-block;
}
h2{
  font-size: 3rem;
}

h3{
  font-size:2rem;
  font-weight:500;
}
h4{
  font-size:1.8rem;
}

.headline {
  font-size:2.4rem;
  line-height: 2.8rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#hon{
  text-align:center;
}

#hon .button {
  padding:1.6rem 2rem;
}

#hon h1{
  margin:2.5rem 0;
}

#hon h2{
  font-size: 2.8rem;
  margin:7.5rem 0 4.2rem 0;
}

#hon h3{
  margin:3rem 0 2rem 0;
  font-size: 2rem;
}
#hon h4 {
  margin:2.4rem 0 2rem 0;
  font-size:1.8rem;
}

#hon .re-link{
  display:inline-block;
  width:75%;
  font-size:1.4rem;
  margin-bottom:3.6rem;
}

.honeycomb{
  display:inline-block;
  margin: 0 auto;
  text-align:center;
  height:400px;
  width:300px;
}

html{
  font-size:10px;
  height:100vh;
}

i {
  padding:1rem;
}

img.clr {
  margin:1.2rem 0;
  padding:0 7.5rem;
}

.insights a {
  display:inline-block;
  margin:3.6rem 0 2.4rem 0;
}

.insights p {
  text-align:left;
}

.jade{
  width:50%;
  margin:2.5rem 20rem 3.6rem 0;
  float:left;
  clear:right;
}

.link-list li {
  display:inline;
  margin: 0 0.25rem;
}

main p {
  padding:0.8rem;
  margin: 0 1.6rem;
}

main ul{
  font-size:1.6rem;
  margin:0 1.6rem;
}

nav{
  display:inline-block;
  height:9rem;
  width:100%;
}
.hero .re-link {
  color:#71AD96;
}
.nav-links{
  clear:right;
  float:right;
  text-align:center;
  padding:4rem 1rem 1.5rem 6rem;
}

.nav-links a {
  padding:0.5rem;
}

.overview, .brand, .ia {
  margin: 2rem 0;
}

.overview ul {
  text-align: center;
}

p{
  font-weight: 400;
  font-size:1.6rem;
  line-height:1.45;
  margin:1.6rem 0;
}
.per {
  margin:1.8rem;
}
.proj-hero img {
  padding:2rem 3.2rem 0 3.2rem;
}

.proj-hero p {
  padding:0 2.4rem 2.4rem 2.4rem;
}

.proj-hero img, .overview img, .discovery img, .ia img, .brand img, .insights img {
  width:90%;
}

.proj-hero, .solution, .sandwf, .hifi {
  background-size:cover;
  margin: 0 0 3rem 0;
  padding:3rem 0 3rem 0;
  width:100%;
}

.proj-hero img {
  margin: 2rem 0;
}

.re-link {
  font-weight:600;
  padding: 1rem 1rem 1rem 0;
}
.results li {
  padding: 0.5rem 0;
  text-align:left;
}

section.honeycomb p {
  font-size:1.4rem;
  line-height:140%;
  margin:0 1.6rem 4rem 1.6rem;
  padding: 1.6rem;
}

section {
  margin:0 1.6rem;
}

section.container{
  margin: 0 16px;
}

.solution{
  margin: 3rem 0;
  padding:3rem 0;
}

.solution p {
  text-align:left;
  padding: 0.75rem 1.6rem;
  margin-bottom: 2rem;
}

.top-logo {
  float:left;
  margin: 1.6rem 1.6rem 0 1.6rem;
  width:20%;
}

ul {
  text-align:left;
}

ul.link-list{
  text-align:center;
}

.user-stories li {
  padding:0.5rem 1.6rem;
}

.work-preview{
  margin:5rem 3.75rem;
  text-align:center;
}

/* @media rules *
@media screens and (min-width 480px){
  .container{
    width:40rem;
  }
  .headline {
    font-size:2.4rem;
  }
}
@media screens and (min-width:800px) {
  .container{
    width:70rem;
  }
  body {
    display:grid;
    grid-template-columns: 75% 25%;
    grid-template-rows:auto;
    grid-gap:3.2rem;
  }
}*/
